/*==================== 【1、全區 universal】 ==================== */
html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*-- HEADER --*/
h1{ font-size: 46px;}
h2{ font-size: 34px;}
h3{ font-size: 26px;}
h4{ font-size: 18px;}
h5{ font-size: 16px;}
h6{ font-size: 14px;}
/*-- BODY --*/
body{
  font-family:"Roboto","Noto Sans","Pingfang","Microsoft JhengHei", "Comic Sans MS", "arial", "helvetica", sans-serif!important;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.4;
  background:#fff;
}
body a{
  color:#000;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
body a:hover{color:#84A2AC!important;}
/*-- FONT COLOR --*/
.c1{color: #26414A;}
.c2{color: #278cbf;}
.c3{color: #fff; }
.c4{color: #F4C89B;}
.c5{color: #2e43ab;}
/*-- BG-COLOR --*/
.bg1{background-color: #26414A;}
.bg2{background-color: #F3F3F3;}
.bg3{background-color: #84A2AC}
/*-- BORDER-COLOR --*/
.b1w{border-bottom:0.5px solid #fff;}
.b1{border:1px solid #F4C89B;}
.b3b{border-bottom:3px solid #F4C89B;}
.b5{border:5px solid #F4C89B;}
/*--  FONT-SIZE --*/
.s10{font-size: 10px;}
.s12{font-size: 12px;}
.s14{font-size: 14px;}
.s15{font-size: 15px;}
.s16{font-size: 16px;}
.s18{font-size: 18px;}
.s24{font-size: 24px;}
.s26{font-size: 26px;}
.s28{font-size: 28px;}
.s30{font-size: 30px;}
.s32{font-size: 32px;}
.s48{font-size: 48px;}
.s64{font-size: 64px;}
.s96{font-size: 96px;}
/*--  FONT-WEIGHT --*/
.fwl{font-weight: lighter!important;}
.fw3{font-weight: 300;}
.fw6{font-weight: 600;}
.fw8{font-weight: 800;}
.fwb{font-weight: bold;}
/*-- UTILS --*/
.of-h{overflow:hidden;}
.of-s{overflow-y:scroll;}
.ofx-s{overflow-x:scroll;}
.of-a{overflow:auto;}
.vis-h{visibility: hidden;}
.bgwhite {background-color: white;}
.opa50{opacity:0.5;}
.b-sha{box-shadow: 1px 2px 5px #ddd;}
/*-- PADDING --*/
.pt-7{padding-top:7rem;}
/*-- Z-INDEX --*/
.z-in1{z-index: 1;}
.z-in2{z-index: 2;}
.z-in3{z-index: 3;}
/*-- POSITION --*/
.pos-re{position: relative;}
.pos-ab{position: absolute;}
.pos-f{position: fixed;}
.pos-b0{bottom:0;}
.pos-t0{top:0;}
.pos-l0{left:0;}
.pos-r0{right:0;}
.pos-b10{bottom:10%;}
.pos-t10{top:10%;}
.pos-r10{right: 10%;}
.pos-l10{left: 10%;}
.pos-l10-m{left:-10%;}
.pos-t10-m{top:-10%;}
/*--  WIDTH --*/
.w90{width: 90px;}
.w100{width: 100px;}
.w200{width: 200px;}
.w300{width: 300px;}
.w500{width: 500px;}
.w-50{width: 50%;}
/*--  HEIGHT --*/
.h-80{height: 80%;}
.h100{height: 100px}
.h200{height: 200px;}
.h300{height: 300px;}
/*--  MAX WIDTH --*/
.mw100{max-width: 100px;}
/*--  MAX HEIGHT --*/
.mh100{max-height: 100px;}
.mh300{max-height: 300px;}
.mh350{max-height: 350px;}
/*-- NAV --*/
nav li a {display: block;}
nav li a:hover:nth-last-child(1){background-color: #72A6B8;color:#fff;}
nav li a:hover:nth-last-child(2){background-color: #1abc9c;}
nav li a:hover:nth-last-child(3){background-color: #f1c40f;}
nav li a:hover:nth-last-child(4){background-color: #e67e22;}
nav li a:hover:nth-last-child(5){background-color: #3498db;}
nav li a:hover:nth-last-child(6){background-color: #9b59b6;}
nav li a:hover:nth-last-child(7){background-color: #34495e;}
.topbar {
  height: 65px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {padding: 15px 30px!important;}
/*-- Carousel --*/
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /*background: #fff;*/
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/*-- UNDERLINE --*/
.underline{
  width: 36px;
  height: 3px;
  background: #F4C89B;
}
/*-- MISC --*/
ul, ol {list-style-type: none;padding-left: 0px;}
p {margin: 0 0 10px;letter-spacing: 1px;/*line-height: 1.8em;*/}
hr{width: 100%;}
a{text-decoration: none;cursor: pointer;}
a:hover{ text-decoration: none!important;}
article{padding:6em 0;position: relative;}
@media (max-width: 768px){
  article{padding:4em 0;}
}
.center{text-align: center;}/*呼叫class name文字置中*/
/*-- SIZE --*/
.mw84{max-width:84px;}
/*-- IMG --*/
img,.img-wrapper {max-width: 100%;}
/*-- FOOTER --*/
footer .list-inline-item {
  padding: 1% 4%;
}
.pagination .page-link{
  color: #E4D6B4;
  border: 0.7px solid #E4D6B4;
}

.pagination .page-link:hover{
  color:#fff;
  background-color: #a39677;
  border: 0.7px solid #a39677;
}

.about-img-wrapper{
  width: 40%;
  min-width: 225px;
}

.heading-titleinfo {
  font-weight: 400;
  letter-spacing: 4px;
  text-align: center;
  color: #E4D6B4;
  /* text-transform: uppercase; */
  position: relative;
  margin-top: 0;
  font-size: 42px;
  line-height: 1.11;
  margin-bottom: 35px;
}

.des-box.enhanced-txt{
  color: #E4D6B4;
  font-weight: bold;
}

.des-box{
  font-size: 20px;
  color: #6c757d;
  margin: 2em auto;
  line-height: 180%;
  text-align: center;
  max-width: 500px;
}
@media (max-width: 768px){
  .des-box{
    font-size: 16px;
    margin: 5em auto;
  }
}

.in-testmonial .des-box,.in-services-testmonials .blockquote .des-box{
  height: 4.4em;
  overflow: hidden;
}

.swiper-pagination-bullet-active {
    background: #E4D6B4!important;
}

.zs-enabled .zs-slideshow .zs-bullets .zs-bullet.active{
    background: #E4D6B4!important;
    border: 2px solid #fff!important;
}

.zs-enabled .zs-slideshow .zs-bullets .zs-bullet {
    border: 2px solid #fff!important;
}

#likebox-wrapper{
  width: 100%!important;
  padding: 7px 0px 0px 7px;
}

/*image-hover*/
figure.i-img-hover {
  /*font-family: 'Raleway', Arial, sans-serif; */
  position: relative;
  float: left;
  overflow: hidden;
  /* margin: 10px 1%; */
  /* min-width: 220px; */
  /* max-width: 310px; */
  /* max-height: 220px; */
  /* width: 100%; */
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.i-img-hover * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

figure.i-img-hover img {
  max-width: 100%;
  position: relative;
  opacity: 0.4;
}

figure.i-img-hover figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

figure.i-img-hover h2 {
    position: absolute;
    left: 40%;
    right: 40px;
    width: 100px;
    border-radius: 25px;
    display: inline-block;
    background: #000000;
    /* -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%); */
    /* transform: skew(-10deg) rotate(-10deg) translate(0, -50%); */
    padding: 10px;
    margin: 0;
    top: 40%;
    font-weight: 400;
    box-shadow: 1px 2px 5px #E4D6B4;
}

figure.i-img-hover h2 span {
  font-weight: 800;
}

figure.i-img-hover:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: '';
  background: #ffffff;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
}

figure.i-img-hover a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}


figure.i-img-hover.red {
  background: #E4D6B4;
}

figure.i-img-hover.red h2 {
  background: #E4D6B4;
}

figure.i-img-hover:hover img,
figure.i-img-hover.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.i-img-hover:hover h2,
figure.i-img-hover.hover h2 {
  /*-webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);*/
  opacity: 0;
}

figure.i-img-hover:hover:before,
figure.i-img-hover.hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 65px;
    /*border-radius: 50%;*/
    right: 2%;
    overflow: hidden;
    font-size: 1px;
    color: #72A6B8!important;
    z-index: 999;
    width: 40px;
    height: 40px;
    border: none;
    text-indent: 100%;
    background: url('../images/icons/arrow.png') no-repeat 4px 4px #72A6B8;
}

body .card{
 border:none;
 border-radius:0;
}

/*============================================== [ Universal END ] ==============================================*/
/* ------------------- Buttons ------------------- */

.button-wrapper{
  visibility: visible; 
  animation-name: fadeInDown;
}

.universal-button {
  color:#fff;
  display: block;
  max-width: 168px;
  margin: 0 auto 20px auto;
  transition: all .25s;
  background: #72A6B8;
  padding: 12px 36px;
  font-size: 17px;
}

.universal-button:hover{
  color:#fff!important;
  background-color: rgb(80, 154, 179);
}
.universal-button-b {
  color:#F4C89B;
  max-width: 168px;
  margin: 0 auto 20px auto;
  transition: all .25s;
  background: transparent;
  padding: 12px 36px;
  font-size: 17px;
  border:2px solid #F4C89B;
}
.universal-button-b:hover{
  color:#fff!important;
  background-color: #F4C89B;
}
.form-button{
  width: 130px;
  cursor: pointer;
}

.i-form-wrapper{
  box-shadow: 2px 4px 10px rgba(0,0,0,.25);
}

.in-logo-size{
  width: 100px;
}
/*------------------------------- i-Banner -------------------------------*/

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#i-banner{
  position: relative;
}

#i-banner .swiper-wrapper{
  max-height: 720px;
}
@media (max-width:992px){

  #i-banner{
    padding-top: 90px;
  }
}

/* ------------------- Nav ------------------- */

.nav-outter-wrapper{
  position: relative;
}

.navbar{
  padding: 15px 30px!important;
}

.nav-item a{
  font-weight: 600;
}

/*#index-nav{

}*/

#index-nav .navbar-nav .nav-link{
  color:#fff;
  margin:8px 0px 0 0px;
  /*padding: 17px 12px 0 10px;
  color: #E4D6B4;
  background: #e4f1ff;
  padding: 12px;
  border-top: 2px solid #E4D6B4;
  border-bottom: 2px solid #E4D6B4;*/
}
#index-nav .navbar-nav .nav-item.dropdown .dropdown-menu .nav-item .nav-link{
  padding: 12px;
}

/*== 導覽列hover效果 ===*/

#index-nav .navbar-nav .nav-link:hover{
  /*border-bottom:1px solid #E4D6B4;*/
  color:#F4C89B !important;
  /*opacity: .9;*/
  /*color:rgb(123, 142, 146);*/
}
@media (max-width: 1020px){
  #index-nav .navbar-nav .nav-link{
    text-align: center;
    font-size: 14px;
  }
}
@media (max-width: 992px){

  #index-nav .navbar-nav .social-media-icon, .social-media-icon a{
    padding-left: 48%;
  }

  #index-nav .navbar-nav #likebox-wrapper{
    padding: 0px 0px 0px 47.5%;
  }

  #index-nav input[type=search]{
    margin:auto;
  }
}

@media (max-width: 520px){
  #index-nav .navbar-nav .nav-link{
    font-size: 16px;
  }
  #index-nav .navbar-nav .social-media-icon, .social-media-icon a{
    padding-left: 45%;
  }

  #index-nav .navbar-nav #likebox-wrapper{
    padding: 0px 0px 0px 44.5%;
  }
}

.brand-logo{
  width: 6em;
  z-index: 10;
  /*background: #E4D6B4cc;
  border-radius: 50%;*/
  padding: 0px;
  /*border: 1px solid #fff;
  box-shadow: 1px 2px 10px #cd6d73;*/
}

.brand-bg{
  width: 46%;
  top: -3%;
  left: -18%;
  z-index: -1;
  padding: 3%;
  position: absolute;
  border-top: 57px solid #cee6ff;
  border-right: 30px solid transparent;
  /*background:center center no-repeat url('../images/logo/brand-bg.png');
  background-size:cover;*/
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  appearance: textfield;
  box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; 
}

input[type=search] {
  background: transparent url('../images/icons/search-icon.png') no-repeat 9px center;
  border: unset;
  padding: 8px 10px 7px 29px;
  width: 0px;
  /*-webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;*/
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
  opacity: 0.6;
}
.scroll-background input[type=search] {
  background: transparent url('../images/icons/search-icon_b.png') no-repeat 9px center;
}
input[type=search]:hover {
  opacity: 1;
}
input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66CC75;
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}

/* ------------------- Nav-search ------------------- */

.nav-search input[type=search] {
  color: #999;
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}
.nav-search input[type=search]:hover {
  background-color: #fff;
}
.nav-search input[type=search]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
.nav-search input:-moz-placeholder {
  color: transparent;
}
.nav-search input::-webkit-input-placeholder {
  color: transparent;
}

.scroll-background {
  background-color:#fff!important;
  box-shadow: 1px 2px 5px #ddd;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-duration: 1s;
  height: 75px;
  padding: .2rem 1rem!important;
}

.scroll-background .brand-logo{
display: none;
}

.scroll-logo{
  width: 6em;
  z-index: 10;
  display: none;
}
@media (max-width:340px){
  .scroll-logo{
    width: 10em;
  }
}
.scroll-background .scroll-logo{
  display: block;
}

.scroll-background .nav-link{
  color:#6c757d!important;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@media (max-width: 992px){
  .scroll-background{
   height: unset;
   /*margin-top: 50px;*/
  }

  .scroll-background .brand-logo {
      width: 4em;
      z-index: 10;
      padding: 0;
      border-radius: unset;
      box-shadow: unset;
      margin-top: unset;
  }

}

@media (max-width: 560px){
    figure.i-img-hover:before,figure.i-img-hover figcaption{
      visibility: hidden;
    }

}

body .navbar-light .navbar-toggler{
    color: rgba(0,0,0,.5);
    border-color: transparent;
    background-color: #fff;
}

/*============================================== [ Index CSS ] ==============================================*/
/*============================================== [ Index CSS ] ==============================================*/
/*============================================== [ Index CSS ] ==============================================*/
/*--------------------------------------- i-General ---------------------------------------*/

/* ------------------- i-Titles ------------------- */
.i-slogan{
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /*letter-spacing: 2px;*/
  /*border-bottom:1px solid beige;*/
  font-family:"Roboto Black","Roboto","Pingfang","Microsoft JhengHei", "Comic Sans MS", "arial", "helvetica", sans-serif;
}
@media (max-width:520px){
  .i-slogan{
    padding-top: unset;
  }
}
/*.i-slogan .col-md-8{
background-color:rgba(255,181,181,0.37);
box-shadow:1px 2px 35px rgba(255, 181, 181, 0.64);
}*/

.i-slogan span{
  font-size: 16px;
  font-weight:300;
  font-family:"Roboto","Pingfang","Microsoft JhengHei", "Comic Sans MS", "arial", "helvetica", sans-serif;
}

.title-seperators{
  width: 100px;
}
.i-main-title{
  padding-top: 15%;
  font-size: 96px;
}
@media (max-width:720px){
  .i-main-title{
    font-size: 68px;
  }
}
@media (max-width:550px){
  .i-main-title{
    font-size: 32px;
  }
}
@media (max-width:320px){
  .i-main-title{
    font-size: 24px;
  }
}
.subtitle{
  font-size: 17px!important;
  margin-top: 1em;
  letter-spacing: 4px;
  text-transform: capitalize;
  color: #989898;
  font-weight: lighter;
}
/* --------------------------------------- i-banner --------------------------------------- */



/* --------------------------------------- i-about --------------------------------------- */
.i-about {
  /*background: center center no-repeat url('../images/index/blur-bg.jpg');*/
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-color: #fff;
}

.bg-brand-deco{
  position: absolute;
  top: 0;
  right: 0;
  /*opacity: .1;*/
  max-width:220px; 
}

.bt-l-deco{
  top:unset;
  right: unset;
  bottom: 0;
  left:0;
}
@media (max-width: 768px){
.i-work{
  padding-top: 0;
  }
}
.i-more-works-button{
  border:3px solid #E4D6B4;
}

.i-works .content-border{
  border:2px solid #E4D6B4;
  position: relative;
  max-width: 375px;
  margin: auto;
}

.i-works .content-border .bg-brand-deco{
  display: none;
}

@media (max-width:576px){
  .i-works .content-border{
    border:unset;
  }
  .i-works .content-border .bg-brand-deco{
    display: block;
    max-width: 100px;
  }

}
.i-more-works-txt{
  color: #E4D6B4;
  font-weight: bold;
  letter-spacing: 1px;
}
/*.i-about {
  background-image: url('../images/index/linen.jpg');
  
}*/

.i-about-wrapper{
  margin-top:-60px;
  padding: 8%;
}

@media (max-width: 992px){
  .i-about-wrapper{
    margin-top: 40px;
    background-color: #fff;
    padding: 5%;
    border-radius: 5px;
    opacity: .9;
  }

  .i-about {
    background-size: cover;
  }
}

/* --------------------------------------- i-publication --------------------------------------- */

/*i-publication*/
.i-publication>.container-fluid{
  background: right no-repeat url(../images/index/i-publications/i-publications_pic.jpg);
  background-size: contain;
}
.i-publication-wrapper {

  /*background-color: #fff;*/
  padding: 5%;
  opacity: .9;
}
@media (min-width: 992px){
.i-publication-wrapper {

  padding: 8%;
  }
}
/* --------------------------------------- i-News --------------------------------------- */

.i-news{
  /*background-color: #fffaeb;*/
  position: relative;
  background: right no-repeat url(../images/index/i-news/wireframe_tr.jpg);
  background-size: contain;
}

.customer-thumbs{
    width: 140px;
    margin: auto;
    display: block;
}

.customer-card{
    box-shadow: 1px 2px 10px #E4D6B48f;
}

.customer-card footer{
  background-color: unset;
  text-align: center;
}

.i-news-title,.i-news-date{
  line-height: 1rem;
  height: 1rem;
  overflow : hidden;
  white-space : nowrap;
}

.i-news-title{
  width: 100%;
  text-overflow : ellipsis;
}

.i-news-date{
  color:#beadd1;
  width: 80px;
  font-size: 14px;
}

.i-news-wrapper{
  border-top: 3px solid #E4D6B4;
  border-bottom: 3px solid #E4D6B4;
}

.i-news-wrapper .news-row {
  border-bottom:1px solid #ddd;
  padding: 1px;
  margin:20px 0;
  width:100%;
}

.i-news-title:before{
  content: '';
  display: inline-block;
  /* width: 10px; */
  /* height: 10px; */
  padding: 2px;
  margin-right: 7px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #E4D6B466;
}

/*.i-News {
  background: center center no-repeat url('../images/index/blur-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}*/

.i-news-wrapper{
  background-color: #fff;
  box-shadow: 1px 2px 10px rgba(0,0,0,.25);
}

.i-news-chevron{
  background:transparent;
  border: 1px solid #ddd;
  float:right;
}

.i-news-chevron .chevron-arrow-right{
  border-color: #E4D6B4ba;
}
/* --------------------------------------- i-team --------------------------------------- */
.i-team>.container{
  background: right no-repeat url(../images/index/i-team/i-team-bg.jpg);
  background-size: contain;
  height: 32em;
}
/*--------------------------------------- i-Contact ---------------------------------------*/

.i-contact{
  background: right no-repeat url(../images/index/i-news/wireframe.jpg);
  background-size: contain;
}

.i-contact .form-control{
  border:1px solid #26414A;
  border-radius: 0;
}

/*Google Map*/

.google-map {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.google-map iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.norwrap{
  white-space: nowrap;
}
i.fas{
  display:inline-block;
  border: 1px dotted green;
  border-radius: 50%;
}
.btn-only-icon{
  padding: 0;
  border: none;
  background: none;
}

/*=================[Particle.js]=======================*/
/* ---- stats.js ---- */
canvas{
  display:inline-block;
  vertical-align:bottom;
}
.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  /*background-color: #b61924;*/
  /*background-image: url('');*/
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/*============================================== [ Inner CSS ] ==============================================*/
/*============================================== [ Inner CSS ] ==============================================*/
/*============================================== [ Inner CSS ] ==============================================*/

/*--------------------------------------- i-General ---------------------------------------*/
/* ------------------- in-Titles ------------------- */
.in-titles{
  color:#E4D6B4;
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}

.in-subtitles{
  color:#fff;
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 0.5em;
}

/* ------------------- in-Banners ------------------- */

.in-banner{
  position:relative;
  height:320px;
}
.in-banner-image{
  /*height: 1000px;*/
  background:center center no-repeat url('../images/inner/about/banner/in-about_banner.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  width:100%;
}
.in-banner .txt-tile{
  position: absolute;
  top: 55%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.in-banner .txt-tile h1{
  font-size:60px;
  color: #e4d6b4;
}
.in-banner .txt-tile p {
  font-size: 14px;
  color: #e4d6b4;
}

@media (max-width: 420px){
  .in-banner .txt-tile{
    top: 65%;
  }
  .in-banner .txt-tile h1{
    font-size:24px;
    color: #e4d6b4;
  }
  .in-banner{
  height: 250px;
  }
}

.in-banner .breadcrumb{
  margin-bottom: 1rem;
}

.work-banner{
  background:center center no-repeat url('../images/inner/work/banner/work_banner.jpg');
}

@media (max-width: 420px){
  .work-banner{
  height: 250px;
  }
}

.contact-banner{
  background:center center no-repeat url('../images/inner/contact/banner/contact_banner.jpg');
}

@media (max-width: 420px){
  .contact-banner{
  height: 250px;
  }
}

.about-banner{
  background:center center no-repeat url('../images/inner/about/banner/in-about_banner.jpg');
  background-attachment: fixed;
}

@media (max-width: 420px){
  .about-banner{
  height: 250px;
  /*background:59% 50% no-repeat url('../images/inner/about/banner/in-about_banner.jpg');*/
  }
}

/* ------------------- Modal ------------------- */

.modal-date{
  margin-top:-33px;
}
.gallery {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: relative;
  background: white;
  width: 100%;
  border-radius: 5px;
}

@media (max-width: 992px){
  .gallery{
    max-height: 26vh;
  }
}


.gallery input[name$="control"] {
  display: none;
}
.gallery .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  box-orient: horizontal;
  box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  height: 70vh;
  width: 100%;
}
.gallery .wrap {
  width: 100%;
  height: 100%;
  position: static;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  box-orient: horizontal;
  box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-right: 20px;
}
.gallery .wrap figure {
  padding: 10px;
  height: 100%;
  min-width: 100%;
  -webkit-transition: opacity 0.25s ease-in-out 0.05s;
  transition: opacity 0.25s ease-in-out 0.05s;
  position: relative;
  left: 0;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  display: block;
  -webkit-box-align: center;
  box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1;
}
.gallery .wrap figure label {
  cursor: zoom-in;
  height: auto;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

@media (max-width: 992px){
  .gallery .wrap figure label {
    height: 35%;
  }
}

.gallery .wrap figure img {
  cursor: inherit;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 3px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.gallery .thumbnails {
  -webkit-box-flex: 1;
  box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 60px;
  max-height: 100%;
  height: auto;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-item-align: center;
  align-self: center;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  box-orient: vertical;
  box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 10px;
  z-index: 20;
}

@media (max-width: 992px){

  .gallery .thumbnails {
    display: none;
  }
}

.gallery .thumbnails .thumb {
  width: 60px;
  height: 60px;
  padding:10px 0;
  overflow: hidden;
  /*background-position: center center;
  background-size: cover;*/
  box-sizing: border-box;
  opacity: 0.7;
  margin: 5px 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  left: 0;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-repeat: no-repeat;
}
.gallery .thumbnails .slider {
  position: absolute;
  display: block;
  width: 5px;
  height: calc(60px + 10px);
  z-index: 2;
  margin: 0;
  left: 0;
  -webkit-transition: all 0.33s cubic-bezier(0.3, 0, 0.33, 1);
  transition: all 0.33s cubic-bezier(0.3, 0, 0.33, 1);
}
.gallery .thumbnails .slider .indicator {
  width: 100%;
  height: 30px;
  max-height: calc(100% - 10px);
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #428BFF;
  border-radius: 1px;
}
.gallery input#fullscreen:checked ~ .wrap figure {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  padding: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.gallery input#fullscreen:checked ~ .wrap figure label {
  cursor: zoom-out;
}
.gallery input#fullscreen:checked ~ .wrap figure label img {
  -webkit-animation: shadow 0.2s;
  animation: shadow 0.2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  border-radius: 0;
}
.gallery input#image1:checked ~ .wrap figure {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.gallery input#image1:checked ~ .wrap figure:not(:nth-of-type(1)) {
  opacity: 0;
}
.gallery input#image1:checked ~ .thumbnails .slider {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.gallery input#image1:checked ~ .thumbnails .thumb:nth-of-type(1) {
  opacity: 1;
  cursor: default;
}
.gallery input#image2:checked ~ .wrap figure {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.gallery input#image2:checked ~ .wrap figure:not(:nth-of-type(2)) {
  opacity: 0;
}
.gallery input#image2:checked ~ .thumbnails .slider {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.gallery input#image2:checked ~ .thumbnails .thumb:nth-of-type(2) {
  opacity: 1;
  cursor: default;
}
.gallery input#image3:checked ~ .wrap figure {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}
.gallery input#image3:checked ~ .wrap figure:not(:nth-of-type(3)) {
  opacity: 0;
}
.gallery input#image3:checked ~ .thumbnails .slider {
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
}
.gallery input#image3:checked ~ .thumbnails .thumb:nth-of-type(3) {
  opacity: 1;
  cursor: default;
}
.gallery input#image4:checked ~ .wrap figure {
  -webkit-transform: translateX(-300%);
  transform: translateX(-300%);
}
.gallery input#image4:checked ~ .wrap figure:not(:nth-of-type(4)) {
  opacity: 0;
}
.gallery input#image4:checked ~ .thumbnails .slider {
  -webkit-transform: translateY(300%);
  transform: translateY(300%);
}
.gallery input#image4:checked ~ .thumbnails .thumb:nth-of-type(4) {
  opacity: 1;
  cursor: default;
}

@-webkit-keyframes full {
  from {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes full {
  from {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
}
@-webkit-keyframes shadow {
  from {
    box-shadow: 0 0 0 100vmin rgba(24, 33, 45, 0), 0 0 10vmin rgba(13, 21, 31, 0);
  }
  to {
    box-shadow: 0 0 0 100vmin rgba(24, 33, 45, 0.6), 0 0 10vmin rgba(13, 21, 31, 0.6);
  }
}
@keyframes shadow {
  from {
    box-shadow: 0 0 0 100vmin rgba(24, 33, 45, 0), 0 0 10vmin rgba(13, 21, 31, 0);
  }
  to {
    box-shadow: 0 0 0 100vmin rgba(24, 33, 45, 0.6), 0 0 10vmin rgba(13, 21, 31, 0.6);
  }
}
/*----------------------------------------------------about--------------------------------------*/ 

/*------------ about story--------------------*/ 
.harry-Two-Col-subTitle{
  font-size:42px;
}

/*-------------- about banner-----------------*/
.harry-about-banner .harry-bg{
  position: fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .4;
  
  background-color:#6d6d6d;
  background-blend-mode: multiply;
}
.harry-about-banner{
  background-position: top 10% center;
  
}
.harry-about-banner{
  position: relative;
  text-align: center;
  background-color: #6d6d6d;
  min-height: 500px;
  overflow: hidden;


}
.harry-about-banner .thecontent{
  position: absolute;
  z-index:2;
}
@keyframes bannerin{
  0% {background-position: top 60vh center;}
  100% {background-position: top 0vh center;}
}

/*--------------in-about-studio-----------------*/
.in-about-studio{
  background-color: #f5f7f8;
}
/*--------------in-about-ourTeam-----------------*/
.in-about-ourTeam{
  background-color: white;
}
.in-about-ourTeam .profile {
  height:325px; 
  width:150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
/*.in-about-ourTeam .team-info{
}*/

/*----------------------------------------------------work_inner--------------------------------------*/ 

/*-------------- work_inner in-Client-info-----------------*/
.in-Client-Tools{
  background-color:#f5f7f8; 
}
/*------------------------------- in-About Us -------------------------------*/

/*.in-about{
  background-color: #ffffff ;
}*/

.in-about-tab-wrapper{
  z-index: 20;
  top:37px;
}

.tab-content .tab-pane.fade{
  opacity: 1;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-duration: 1s;
}

.structure-img-wrapper{
  width: 80%;
  min-width: 225px;
}

.in-about .nav-link{
  color:#c0c0c0;
}

.in-about-strong{
  color:#E4D6B4;
  font-size: 1.2em;
}

.in-break-section{
  background: center center no-repeat url('../images/inner/in-about-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.in-about-content-titles{
  font-size: 22px;
}
@media (max-width: 420px){
  .in-about-content-titles,.in-about-content-subtitles{
    text-align: justify;
  }
}

@media (max-width: 420px){
  .in-about-content-subtitles{
    display: none;
  }
}

.in-about-content-subtitles{
  font-size: 16px;
  color:#b7b7b7;
}

.thumb-img{
  width: 100px;
}

.services-card {
  display: block;
  background: #fff;
  /*margin-bottom: 30px;*/
  position: relative;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  /*border-bottom: 3px solid #E4D6B4c7;*/
}
.services-card .services-img {
  width: 100%;
  height: 350px;
  /*display: table;*/
  position: relative;
  z-index: 0;
  /*background: center center no-repeat url(../images/index/i-about-thumb_02.jpg);*/
}
.hover-logo {
  position: absolute;
  top: 2.5%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.thumbs-img-wrapper{
  position: relative;
  /*height: 350px;*/
  overflow: hidden;
}

.thumbs-img{
  width:100%;
}

.services-card .services-img:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background: #fac; /*圖片hover顏色*/
  opacity: 0;
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
  z-index: -1;
}
.services-card .services-img .icon {
  /*display: table-cell;
  vertical-align: middle;*/
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
  /*padding-top: 30%;*/
  position: absolute;
  background: #E4D6B47a;
  z-index: 1;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.services-card .services-img .icon i {
  color: #fff;
}
.services-card .desc {
  padding: 2em;
  display: block;   
  background: center no-repeat url('../images/index/bar-bg.jpg');
  background-size: cover;
}

.col-md-4 .services-card .desc {
  background: center no-repeat url('../images/index/bar-bg_02.jpg');
  background-size: cover;
}

.services-card .desc h3 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0;
}
.services-card .desc h3 a {
  color: #E4D6B4;
  font-weight: 700;
  letter-spacing: 2px;
}
.services-card:hover {
  top: -1px;
  -webkit-box-shadow:#E4D6B4;
  -moz-box-shadow: #E4D6B4;
  box-shadow: 0px 12px 62px -13px #E4D6B4;/*卡片hover陰影*/
}
.services-card:hover .services-img:after {
  opacity: 1;
}
.services-card:hover .services-img .icon {
  opacity: 1;
}

/*------------------------------- in-services-------------------------------*/
.in-services{
  background: center center no-repeat url('../images/index/blur-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.in-service-thumb{
  box-shadow: 1px 2px 50px rgba(130, 71, 71, 0.76);
}

.in-eyebrow-thumb{
  box-shadow: 1px 2px 50px rgba(255, 143, 143, 0.76);
}

.in-services-testmonials{
  background-color:#FFEADA;
}

.table-wrapper{
  box-shadow: 1px 2px 10px #ddd;
}
.table-wrapper .table thead th,.table-wrapper .table tbody tr{
  border-top: 1px solid rgba(255,181,181,1);
  border-bottom: 1.5px solid rgba(255,181,181,1);
}
.table-wrapper .table-striped tbody tr:nth-of-type(odd){
  background-color: rgba(255,181,181,0.37);
}
.table-wrapper .table .in-table-title{
  color: #a271ad;
}
.table-wrapper .table .in-table-subtitle{
  color: #E4D6B4;
}
.table-wrapper .table .in-table-content{
  color: #da5c65;
  font-weight: 600;
}
/*#services-intro .img-wrapper{
  
  background-color: #ebc9de7a;
}*/

#services-intro .nav-tabs {
    border-bottom: unset;
    margin-bottom: 10px;
}

.modal-wrapper{
  z-index: 10;
}

.services-inner-text-wrapper{
  padding-top: 50px;
}


/*@media (max-width: 992px){

  .services-inner-text-wrapper {

  }
}

@media (max-width: 420px){

  .services-inner-text-wrapper {

  }
}*/

.back-button-wrapper{
  z-index: 1000;
}

/*------------------------------- in-News -------------------------------*/

.in-news{
 background-color: #ffe3e5;
}

.in-news-titles{
  font-size: 1.2em;
}

.in-news-button{
  padding: 10px 20px;
  border-radius:5px;
}

.in-news-bg-deco{
    position: absolute;
    bottom: 0;
    right: 0;
    /* opacity: .1; */
    max-width: 120px;
}

.inner-news-main-titles{
  font-size: 1.5em;
  line-height: 1.5em;
}

/*.in-news-titles:before{
  content: url('../images/logo/logo-only_thumb.png');
  padding: 0px 10px 0 0;
}*/

.news-nav{
  position:relative;
  bottom:30px;
}

.in-news-article-title{
  height: 1.5em;
  line-height: 1.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.in-news-content{
  height: 10em;
  line-height: 2em;
  overflow: hidden;
  font-size: 15px;
}

.content-inline{
  display:inline-block;
}
p.card-text{
  margin: 0px;
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  
}
.more-link{
  font-size:25px;
}
.tip-news{
  position:relative;
  
}
.card-color{
  background-color: rgb(250,250,250);
}
.news-middle-background{
  background-color: rgb(250,250,250);
  padding:5px;
}

.news-card {
    box-shadow: 3px 3px 10px rgba(255,181,181,1);
    background-color: #fff;
    margin-bottom: 5%;
    padding: 2.5% 5%;
    border-radius: 15px;
    position: relative;
    /*border-top: 4px solid #E4D6B4cc;
    border-radius: 10px;*/
}

/*.news-card .img-wrapper .img-fluid{
  min-width: 100%;
}*/

/*------------------------------- in-News_Subpage -------------------------------*/
.news-nav{
  position:relative;
  bottom:30px;
}

/*------------------------------- in-breadcrumb -------------------------------*/
.in-banner .breadcrumb{
  position: absolute;
  bottom: 0%;
  background-color: transparent;
}

.breadcrumb-item a{
  color:#fff;
}

.in-banner .breadcrumb .breadcrumb-item.active,.in-banner .breadcrumb .breadcrumb-item+.breadcrumb-item::before{
  color:#ddd;
}

/*------------------------------- in-work-------------------------------*/
.in-portfolio{
  background-color: #f5f7f8;
}
.in-portfolio .swiper-slide img{
  top: -1px;
  -webkit-box-shadow: 0px 12px 62px -13px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 12px 62px -13px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 12px 62px -13px #777;/*卡片hover陰影*/
}
.swiper-button-white{
  background-color: #e4d6b4;
  padding: 35px;
}
.modal-wrapper{
  z-index: 10;
}

.profolio-inner-text-wrapper{
  padding-top: 50px;
}

.link {
  width: 75px;
  height: 75px;
  background-color: #ededed;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
    transition: .3s;
}

/*@media (max-width: 992px){

  .profolio-inner-text-wrapper {

  }
}*/

/*@media (max-width: 420px){

  .profolio-inner-text-wrapper {

  }
}*/

.back-button-wrapper{
  z-index: 1000;
}

#ach-work {
  padding: 4em 0;
  clear: both;
  /*background-color: #E4D6B4;*/
}

#ach-work .nav-item .active{
  color:#E4D6B4;
}

#ach-work .nav-item a{
  color:#b0b0b0;
}

.lijian-heading {
  margin-bottom: 5em;
}
.lijian-heading h2 {
  font-size: 30px;
  font-weight: 500;
}

.profolio-card {
  display: block;
  background: #fff;
  /*margin-bottom: 30px;*/
  position: relative;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  /*border-bottom: 3px solid #E4D6B4;*/
}
.profolio-card .profolio-img {
  width: 100%;
  display: table;
  position: relative;
  z-index: 0;
}
.profolio-card .profolio-img:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background: rgba(228, 214, 180, 0.5); /*圖片hover顏色*/
  opacity: 0;
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
  z-index: -1;
}
.profolio-card .profolio-img .icon {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
  /*padding-top: 115px;*/
  position: absolute;
  border:8px solid #fff;
  background: rgba(228, 214, 180, 0.5);
  z-index: 1;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.profolio-card .profolio-img .portfolio-hover-txt{
position: absolute;
display: inline-block;
border-bottom:3px solid #fff;
padding-bottom: 5px;
font-weight: 400;
font-size: 20px;
top: 65%;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}

.profolio-card .profolio-img .icon i {
  color: #fff;
}
.profolio-card .desc {
  padding: 2em;
  display: block;
}
.profolio-card .desc h3 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0;
  text-align: center;
}
.profolio-card .desc h3 a {
  color: #000;
}
.profolio-card:hover {
  top: -1px;
  -webkit-box-shadow: 0px 12px 62px -13px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 12px 62px -13px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 12px 62px -13px #777;/*卡片hover陰影*/
}
.profolio-card:hover .profolio-img:after {
  opacity: 1;
}
.profolio-card:hover .profolio-img .icon {
  opacity: 1;
}
/*------------------------------- in-Contact -------------------------------*/

.contact-nav{
    position:relative;
    bottom:30px;
}
.img-introduction{
    box-shadow:gray 1px 1px 2px 2px;
}
.google-map{
    position: relative;
    height:37rem;
    width:100%;
    display:block;
}
.CompanyInfo{
    background-color: #fbfbfb;
}

.google-map.in-google-map{
  height: 20em;
}
#contact-primary{
  background-color: #f5f7f8;
}
#contact-secondary{
  background-color:#FFEADA;
}

.in-icon.secondary-icon{
  border: solid 1px #a271ad;
  color: #a271ad;
}

/*.in-contact{
  position: relative;
  background-image: url('http://thatgamecompany.com/wp-content/uploads/thatgamecompany-bg-connect.jpg')
}*/

.in-contact-parallax{
  background: center center no-repeat url('../images/inner/contact/in-contact-bg_02.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.in-form-wrapper{
  opacity: .9;
  box-shadow: 2px 4px 10px #e9ecef;
  border-radius: 5px;
}

.in-icon{
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 40px;
  border: solid 1px #ffb5b5;
  color: #ffb3b3;
  font-size: 20px;
  margin: 0 auto 15px;
  text-align: center;
}

.in-icon-box-wrapper {
  padding: 3%;
  /*box-shadow: 1px 2px 10px #ddd;
  border: 2px solid #fff;
  background-color: #fff;*/
}

.contact-info{
  word-wrap:break-word
}

/*============================================== [ Footer CSS ] ==============================================*/
/*============================================== [ Footer CSS ] ==============================================*/
/*============================================== [ Footer CSS ] ==============================================*/

/*.footer-wrapper{
  text-align: center;
}

@media (max-width: 992px){

  footer .footer-wrapper .info-wrapper {
      padding:10px 0;
  }
}

@media (max-width: 992px){

  footer .footer-logo-wrapper {
      margin-bottom: 2rem;
  }
}

footer a{
  color: white;
  font-size: 18px;
}

footer a:hover{
  color: #17a2b8;
}

footer span{
  font-size: 18px;
}

footer{
  background-color: #E4D6B4;
}

footer .list-inline-item{
  padding:1% 4%;
}

footer .footer-logo-wrapper{
  width: 200px;
}

.footer-nav {
  border-bottom: 1px solid white;
}

.footer-nav>li {
  margin-left: 30px;
  margin-right: 30px;
}

.footer-icon-wrapper{
  width: 45px;
}
@media (max-width: 992px){
  .footer-icon-wrapper{
    padding-top:30px;
  }
}*/

#copyright {
    position: relative;
    font-size: 13px;
    color: #fff;
    overflow: hidden;
}

header, section, footer {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

#copyright .footer-detail-wrapper {
    padding: 4em 0;
    background-color: #E4D6B4;
}
#copyright .content-wrapper .description .description-container {
    position: relative;
    width: 18em;
    margin: auto;
    overflow: hidden;
}
#copyright .content-wrapper .description .description-container .logo-wrapper {
    width: 10em;
    margin: 0.5em auto 0;
    text-align: center;
}
#copyright .content-wrapper .description .description-container .logo-wrapper img {
    width: 100%;
    height: auto;
}
#copyright .lists-wrapper .lists .lists-title {
    font-size: 1.35em;
    font-weight: bolder;
    letter-spacing: 2px;
    color: rgb(255, 196, 196);
}
copyright .lists-wrapper .lists ul.lists-container {
    position: relative;
    margin: 2em auto 0;
    padding: 0;
    text-align: left;
    vertical-align: middle;
    list-style-type: none;
    overflow: hidden;
}
#copyright .lists-wrapper .lists ul.lists-container > li {
    position: relative;
    overflow: hidden;
}
#copyright .lists-wrapper .lists ul.lists-container > li > a, #copyright .lists-wrapper .lists ul.lists-container > li > p {

    position: relative;
    float: left;
    max-width: 100%;
    margin: 0.5em auto;
    line-height: 1.5em;
    word-wrap: break-word;
    color: inherit;
    text-transform: capitalize;
}
#copyright .copyright-wrapper {
    padding: 0.8em;
    background-color: #1B2E34;}
#copyright .copyright-wrapper .copyright p {
    line-height: 1.2em;
    text-align: center;
}

.footer-box .img-wrapepr{
  width: 125px;
  padding: 18px;
}

#i-footer {
  position: relative;
  text-align: center;
  /*background-color: rgba(38, 65, 74, 0.534);*/
  background: center center no-repeat url(../images/index/i-footer/footer-bg_2.jpg);
  background-size: cover;
}
#i-footer .each-block {
  margin-bottom: 1.5em;
  text-align: center;
}
#i-footer ul.links-container {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  vertical-align: middle;
  overflow: hidden;
}
#i-footer ul.links-container > li {
  position: relative;
  float: left;
  padding: 0 0.5em;
}

.icons-container .icon {
  width: 1em;
  height: 1em;
  margin: 0.25em;
  font-size: 1.5em;
  text-align: center;
}

#i-footer a{
  color: #E4D6B4;
}
@media (max-width: 991px){
  #i-footer {
      padding: 10px 0 40px;
      text-align: center;
  }
}
.footer-box ul {
  padding-top: 15px;
  margin: 0 0 15px;
  width:100%
}
.footer-box ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0 20px 0;
}
@media (max-width: 768px){
.footer-box ul li {
    padding: 0 20px 15px;
  }
}
@media screen and (min-width: 769px){
  body .btn-group{
    display: none;
  }
}
@media screen and (max-width: 768px){
  .btn-group {
    display: block;
    position: fixed!important;
    bottom: 0px;
    z-index: 1;
    width: 100%;
    display: flex;
    display: -webkit-flex;
  }
  .btn1 {
    background-color: rgba(255, 181, 181, 0.7411764705882353);/*rgb for Line browser*/
    color: #fff;
    border:0.5px solid #E4D6B4;
    width: 50%;
    padding: 4%;
    text-align: center;
  }

  .btn2 {
    /*background-color: #ffb5b5bd;*/
    background-color: rgba(255, 181, 181, 0.7411764705882353);/*rgb for Line browser*/
    color: #fff;
    border:0.5px solid #E4D6B4;
    width: 50%;
    padding: 4%;
    text-align: center;
  }
}
.social-media-icon,.social-media-icon a{
  font-size: 32px;
  padding: 2px;
  color: #fff;
}

/*============================================== [ media query ] ==============================================*/
/*============================================== [ media query ] ==============================================*/
/*============================================== [ media query ] ==============================================*/
@media only screen and (max-width: 991px){
  #copyright {
      font-size: 14px;
      text-align: center;
  }
  #copyright .footer-detail-wrapper {
      padding: 3em 2em;
  }
  #copyright .content-wrapper .description .description-container .logo-wrapper {
      margin: 0 auto;
  }
  #copyright .content-wrapper .description .description-container .logo-wrapper img {
      width: 100%;
      height: auto;
  }
  #copyright .lists-wrapper .lists {
      padding-top: 2.5em;
      text-align: inherit;
  }
  #copyright .lists-wrapper .lists .lists-title {
      font-size: 1.5em;
  }
  #copyright .lists-wrapper .lists ul.lists-container {
      margin: 1em auto 0;
      text-align: inherit;
  }
  #copyright .lists-wrapper .lists ul.lists-container > li > a {
      float: none;
      margin: 0.25em auto;
  }
}

@media screen and (min-width: 768px) {
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
}

@media (max-width: 520px){
  .dropdown-toggle::after{
      top: 22px;
      position: absolute;
  }
}